# Python缓存文件
__pycache__/
*.py[cod]
*$py.class

# 临时文件
*.json
*.ainovel
config.ini
!config.example.ini
!requirements.txt
!prompt_history.json
!prompt_templates.json
!12345.ainovel
!123.ainovel

# 编辑器临时文件
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log
